# Server listen to this port
PORT=3000

# URL of the MongoDB (Don't replace <DATABASE> it will be replaced by the database name as per Env in config.ts)
MONGODB_URL=mongodb+srv://<MONGODB_USERNAME>:<MONGODB_PASSWORD>@cluster0.tpvvt.mongodb.net/<DATABASE>?retryWrites=true&w=majority&appName=Cluster0

# JWT secret key
JWT_SECRET=your_jwt_secret_key
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=7
# Number of minutes after which a reset password token expires
JWT_RESET_PASSWORD_EXPIRATION_MINUTES=10
# Number of minutes after which a verify email token expires
JWT_VERIFY_EMAIL_EXPIRATION_MINUTES=10

# Redis Configuration (Example using Upstash)
REDIS_HOST=your-redis-host.upstash.io
REDIS_PORT=6379
REDIS_PASSWORD=your_redis_password

# SMTP Configuration (Example using Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_email_password
EMAIL_FROM=support@yourdomain.com

# Your APP Link (For email template URL link)
ORIGIN_URL=http://your-app-frontend.com