<table
  style="
  width: 100%;
  height: 100%;
  padding: 20px 0;
  color: #313131;
  text-align: center;
  background-color: #f4f4f5;
  font-family: Arial, sans-serif, 'Open Sans';
"
>
  <tbody>
    <tr>
      <td>
        <table
          style='
          width: 100%;
          height: 100%;
          margin: 0 auto;
          max-width: 680px;
          border-radius: 4px;
          background-color: #ffffff;
        '
        >
          <tbody>
            <tr>
              <td>
                <table style='width: 100%; text-align: left; text-align: center; padding: 30px 20px 50px 20px'>
                  <tbody>
                    <tr>
                      <td>
                        <div style='width: 30%; margin: 0 auto; min-width: 220px'>
                          <img
                            src='https://i.postimg.cc/8PK9Krgx/reset-Password.png'
                            alt='Image'
                            style='width: 100%; height: 100%; display: block'
                          />
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p
                          style='
                          margin: 0;
                          color: #313131;
                          margin: 30px 0;
                          font-size: 25px;
                          font-weight: 900;
                          font-style: normal;
                          text-align: center;
                        '
                        >
                          Reset your password
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p
                          style='
                          margin: 0;
                          color: #313131;
                          font-size: 18px;
                          line-height: 25px;
                          font-style: normal;
                          margin-bottom: 20px;
                        '
                        >
                          You're receiving this e-mail because you requested a password reset for your account.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p style='margin: 0; color: #313131; font-size: 18px; line-height: 25px; font-style: normal'>
                          Please tap the button below to choose a new password.
                        </p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div>
                          <a
                            href={{resetPasswordUrl}}
                            target='_blank'
                            style='
                            border: none;
                            color: #ffffff;
                            outline: none;
                            margin: 20px 0;
                            font-size: 16px;
                            cursor: pointer;
                            letter-spacing: 1px;
                            font-weight: 700;
                            padding: 12px 18px;
                            border-radius: 4px;
                            display: inline-block;
                            text-decoration: none;
                            text-transform: uppercase;
                            background-color: #f96060;
                          '
                          >Reset Password</a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span style='font-size: 10px; line-height: 15px; display: block'>
                          This email was sent from an email address that can't receive emails.
                          <br />Please don't reply to this email.</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>